LoadPlugin syslog
LoadPlugin cpu
LoadPlugin curl
LoadPlugin curl_json
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin network

<Plugin network>
	Server "ff18::efc0:4a42" "25826"
	<Server "239.192.74.66" "25826">
	</Server>
</Plugin>
