LoadPlugin match_regex
LoadPlugin target_set
LoadPlugin target_replace

{{ stackdriver_v.plugin_config }}

# Insert a new rule in the default "PreCache" chain, to divert your metrics.
PreCacheChain "PreCache"
<Chain "PreCache">
  <Rule "{{ stackdriver_v.plugin_instance }}">
    # If the plugin name and instance match, this is PROBABLY a metric we're looking for:
    <Match regex>
      PluginInstance "{{ stackdriver_v.plugin_instance }}"
    </Match>

    <Target "set">
      # Specify the metric descriptor name:
      MetaData "stackdriver_metric_type" "custom.googleapis.com/{{ stackdriver_v.metric_descriptor_name }}"
      # Specify a value for the "service_name" label
      MetaData "label:service_name" "{{ stackdriver_v.plugin_instance }}"
    </Target>

    <Target "write">
      Plugin "write_log"
    </Target>
  </Rule>
  # Continue processing metrics in the default "PreCache" chain.
</Chain>
